extends ./layout/index


block contenido 
    h1.titulo-head=pagina
        .contenido-nosotros.contenido 

            .imagen-contenido 
                img(src="/img/imagesContent/nosotros.webp")

            .informacion-contenido 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. A aut reprehenderit suscipit nam at repellat provident beatae minima ipsa eos rerum earum ipsum quia, hic facilis tempora veritatis, et fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minima natus, nostrum harum veritatis atque iure officia deleniti sequi repellendus obcaecati necessitatibus quod. Perferendis quae eaque explicabo, delectus omnis quo.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore repellat consequuntur dicta atque quae deleniti sed quas dignissimos molestiae nemo magni totam, autem corporis itaque, a tenetur quam assumenda molestias. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias exercitationem molestiae.


        .contenido.contenido-ruta 
            h1 ¿Donde nos pueden encontrar?
            
            .contenedor-imagen  
                .contain
                    p Nos encontramos en la localidad de Laguna de Lagarto, en la calle principal Av. Idenpendencia