.div-testimonios{
    font-size: 1.7rem;
    max-width: 60rem;
    margin: 3rem auto;
    

    p{
        background: linear-gradient(to right, rgb(161, 26, 26), $verdeLima);
        padding: 1rem 0;
    }
}