footer.footer 
    div.footer-contenido.contenido
        .iconos-redes 
            h1 Siguenos en nuestras redes sociales

            .redes-sociales 
                a(href="#") 
                    img(src="/img/imagesContent/facebook.svg", alt="iconofacebok")
                a(href="#") 
                    img(src="/img/imagesContent/twitter.svg", alt="icono twitter")
                a(href="#") 
                    img(src="/img/imagesContent/whatsapp.svg", alt="icono whtsapp")
                a(href="#") 
                    img(src="/img/imagesContent/instagram.svg", alt="icono instagram")
            

        .navegacion-header.navegacion-footer
                nav.nav-footer
                    a.nav(href="/inicio") Inicio
                    a.nav(href="/nosotros") Nosotros
                    a.nav(href="/productos") Productos
                    a.nav(href="/testimoniales") Testimoniales

        p.leyenda Pagina realizada por David Promontor Farias, contactame al 2283543513 o al correo davidgaston2341@gmail.com
        

