header  
    
    .contenido-header

        .header.contenido
            a(href="/inicio")
            
                .logo-header 
                    p Piñatas Chidas

            .navegacion-header
                nav
                    a.nav(href="/inicio") Inicio
                    a.nav(href="/nosotros") Nosotros
                    a.nav(href="/productos") Productos
                    a.nav(href="/testimoniales") Testimoniales

            .navegacion-mobile  
                img(src="/img/imagesContent/icons8-menu.svg").icono-hamburguesa

                .nav-mobile
                    nav
                        a.nav(href="/inicio") Inicio
                        a.nav(href="/nosotros") Nosotros
                        a.nav(href="/productos") Productos
                        a.nav(href="/testimoniales") Testimoniales 
            

