.div-testimonio-criticas.contenido
    each testimonio in testimoniales
        .cards
                    
            p= testimonio.mensaje

            footer.footer-testimonio #{testimonio.nombre} #{testimonio.apellido}